<h1>Edit Profile</h1>
 <%= form_for(@user, html: { mulipart: true }) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.submit "Save Change" %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.submit "Save Change" %>
    <div class = "form-group">
        
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
        <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, class: "avatar-show-remove" %>
            <%= f.label :remove_avatar %>
            <%= f.check_box :remove_avatar %>
        <% end %>
        <%= f.submit "Save Change" %>
    </div>
<% end %>