<div class='group_controller'>
    <H1 class='pagetitle'>Create a New Group</H1>
    <br>
    <div class='container'>
        <div class='groupcontainer'>
            <%= form_tag :action => 'create' do %>
            <div class='groupelement'>
                <p><label for = 'group_name'>Enter Group Name: </label></p>
                <em>(Must be between <%= @minimumNameLength %> and <%= @maximumNameLength %> characters)</em><br>
                <%= text_field 'group', 'name', :maxlength => @maximumNameLength, :minlength => @minimumNameLength, :size => 50, :onkeyup => 'verifyNewGroup()', :required => true %>
            </div>
            <div class='groupelement'>
                <p id='groupDescriptionAlert' class='AlertMessage'>Group description cannot be the same as the group name.</p>
                <p><label for = 'group_description'>Enter Group Description: </label></p>
                <em>(Must be between <%= @minimumDescriptionLength %> and <%= @maximumDescriptionLength %> characters)</em><br>
                <%= text_field 'group', 'description', :maxlength => @maximumDescriptionLength, :minlength => @minimumDescriptionLength, :size => 50, :onkeyup => 'verifyNewGroup()', :required => true %>
            </div>
            <div class='groupelement'>
                <p><label for = 'group_password'>Enter Group Password</label></p>
                <%= password_field 'group', 'password', :size =>  @smallerMaximumLength, :onkeyup => 'verifyNewGroup()', :required => true%>
            </div>
            <div class='groupelement'>
                <p id='groupPasswordAlert' class='AlertMessage'>Passwords do not match</p>
                <p><label for = 'group_password'>Confirm Password</label></p>
                <%= password_field 'group', 'password_confirmation', :size => @smallerMaximumLength, :onkeyup => 'verifyNewGroup()', :required => true%>
            </div>
            <br>
            <div class="gradient-buttons">
                <Button id="groupSubmitButton" type="submit" class='btn center-block btn-lg btn-primary'>Log Data</Button>
            </div>
            
            <% end %>
        </div>
    </div>
</div>