
<br>
<br>
<h1><%= @conversation.subject %></h1>
<h4>Participants:</h4>
<% @conversation.participants.each do |participant| %>
    <div>  <%= participant.full_name %>  </div>
<% end %>

<hr />


<% @conversation.receipts_for(current_user).each do |receipt| %>
    <div>
        <div><%= receipt.message.sender.full_name %> commented:</div>
         <p><%= receipt.message.body %> </p> 
    </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
    <div>
        <%= text_area_tag :body %>
    </div>
    <%= submit_tag %>
<% end %>