<div class="activity_controller">
    <H1 class='pagetitle'>Activity Types</H1>
    <br>
    <div class="container">
        <div class='activitytypecontainer'>
            <% if current_user.groupid == nil %>
                <% if @actTypes.blank? %>
                    <H2 class='pagetitle'>No Existing Activity Types</H2>
                    <p>Join a group or add a new Activity Type to see existing activity types.</p>
                <% else %>
                    <H2 class='pagetitle'>Existing Activity Types</H2>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @actTypes.each do |actt| %>
                                <tr>
                                    <td><%= link_to actt.name, {:action => 'edit', :id => actt.id} %></td>
                                    <td><%= actt.score %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            <% else %>
                <% if @actTypes.blank? %>
                    <H2 class='pagetitle'>No Existing Activity Types</H2>
                    <p>Make some below.</p>
                <% else %>
                    <% if @groupAdminID == current_user.id %>
                        <H2 class='pagetitle'>Existing Activity Types</H2>
                        <br>
                        <table class='activitytypetable'>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                    <th>Activity Type Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @actTypes.each do |actt| %>
                                    <tr>
                                        <td><%= link_to actt.name, {:action => 'edit', :id => actt.id} %></td>
                                        <td><%= actt.score %></td>
                                        <% if actt.verified %>
                                            <td>Approved and Ready For Use</td>
                                        <% else %>
                                            <td>Awaiting Approval</td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% else %>
                        <H2 class='pagetitle'>Existing Activity Types</H2>
                        <br>
                        <table class='activitytypetable'>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                    <th>Activity Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @actTypes.each do |actt| %>
                                    <tr>
                                        <td><%= actt.name %></td>
                                        <td><%= actt.score %></td>
                                        <% if actt.verified %>
                                            <td>Approved and Ready For Use</td>
                                        <% else %>
                                            <td>Awaiting Approval</td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% end %>
                <% end %>
            <% end %>
            <br>
            <%= render "shared/links" %>
        </div>
    </div>
</div>