<div class='activity_controller'>
    <H1 class='pagetitle'>Activity Types</H1>
    <br>
    <div class='container col-sm-12'>
        <div class='activitytypecontainer'>
            <% if current_user.groupid == nil %>
                <% if @actTypes.blank? %>
                    <H2 class='pagetitle'>No Existing Activity Types</H2>
                    <p>Join a group or add a new Activity Type to see existing activity types.</p>
                <% else %>
                    <H2 class='pagetitle'>Existing Activity Types</H2>
                    <br>
                    <table class="table table-hover table-bordered table-dark table-responsive table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @actTypes.each do |actt| %>
                                <tr>
                                    <td><%= link_to actt.name, {:action => 'edit', :id => actt.id} %></td>
                                    <td><%= actt.score %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            <% else %>
                <% if @actTypes.blank? %>
                    <H2 class='pagetitle'>No Existing Activity Types</H2>
                    <p>Make some below.</p>
                <% else %>
                    <center>
                        <input type='text' id='activityTypeSearchInput' class='searchBar' onkeyup='activityTypeSearch()' placeholder='Search for an entry...' title='Search here'>
                        <select id='activityTypeSearchSelect' class='selectBar' onchange='activityTypeSearch()'>
                            <option>Name</option>
                            <option>Score</option>
                        </select>
                    </center>
                    <H2 class='pagetitle'>Existing Activity Types</H2>
                        <br>
                        <table id='activitytypetable' class='table table-hover table-bordered table-dark table-responsive table-condensed'>
                            <% if @groupAdminID == current_user.id %>
                                <thead class="thead-dark">
                                    <tr>
                                        <th><a class="UP" onclick="sortActivityTypeTableByColumn(0,true)" href="javascript:void(0);">Name</a></th>
                                        <th><a class="UP" onclick="sortActivityTypeTableByColumn(1)" href="javascript:void(0);">Score</a></th>
                                        <th><a class="UP" onclick="sortActivityTypeTableByColumn(2)" href="javascript:void(0);">Activity Type Status</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @actTypes.each do |actt| %>
                                        <tr>
                                            <td class='name'><%= link_to actt.name, {:action => 'edit', :id => actt.id} %></td>
                                            <td><%= actt.score %></td>
                                            <% if actt.verified %>
                                                <td>Approved and Ready For Use</td>
                                            <% else %>
                                                <td>Awaiting Approval</td>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                </tbody>
                        <% else %>
                            <thead class="thead-dark">
                                <tr>
                                    <th><a class="UP" onclick="sortActivityTypeTableByColumn(0)" href="javascript:void(0);">Name</a></th>
                                    <th><a class="UP" onclick="sortActivityTypeTableByColumn(1)" href="javascript:void(0);">Score</a></th>
                                    <th><a class="UP" onclick="sortActivityTypeTableByColumn(2)" href="javascript:void(0);">Activity Type Status</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @actTypes.each do |actt| %>
                                    <tr>
                                        <td><%= actt.name %></td>
                                        <td><%= actt.score %></td>
                                        <% if actt.verified %>
                                            <td>Approved and Ready For Use</td>
                                        <% else %>
                                            <td>Awaiting Approval</td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            </tbody>
                        <% end %>
                    </table>
                <% end %>
            <% end %>
        </div>
    </div>
</div>