<div class="activity_controller">
    <h1 class="pagetitle">Activities</h1>
    <br>
    <div class="activitycontainer">
        <% if @acts.blank? %>
            <H2 class="emptyerror">There are no stored activities!</H2>
            <br>
            <br>
            <p class="link"><%= link_to "Log New Activity", {:action => 'new'}%></p>
            <br>
            <p class='link'><%= link_to "View Activity Types", {:action => 'index', :controller => 'activity_type'}%></p>
        <% else %>
            <center>
                <table class="activitytable">
                    <thead>
                        <tr>
                            <th>   </th>
                            <th><p class="link"><%= link_to "Activity Type", {:action => 'index', :controller => 'activity_type'}%></p></th>
                            <th>Duration (minutes)</th>
                            <th>Person Who Done It</th>
                            <th>Entry Time</th>
                            <th>Delete Entry</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @acts.each do |act| %>
                            <tr class="activity">
                                <td><p class="id"><%= act.id %></p></td>
                                <td><p class="name"><%= link_to @actTypes.find(act.actid).name, {:action => 'show', :id => act.id} %></p></td>
                                <td><p class="duration"><%= act.duration %></p></td>
                                <td><p class="user"><%= @users[act.userid] %></p></td>
                                <td><p class="timestamp"><%= act.created_at %></p></td>
                                <td><p>
                                    <%= link_to "Delete", 
                                    {:action => 'delete', :id => act.id,}, :method => 'delete',
                                    data: {:confirm => "Are you sure you want to delete #{@actTypes.name}?"},
                                    :class => 'delitem' %>
                                </p></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </center>
            <br>
            <p class="link"><%= link_to "Log New Activity", {:action => 'new'}%></p>
            <br>
            <p class='link'><%= link_to "View Activity Types", {:action => 'index', :controller => 'activity_type'}%></p>
        <% end %>
    </div>
</div>