<div class="activity_controller">
    <H1 class='pagetitle'>Log a New Activity</H1>
    <br>
    <div class="container">
        <div class='activitycontainer'>
            <%= form_tag :action => 'create' do %>
                <p><label for = "activity_type">Select Activity Type: </label></p>
                <%= collection_select(:activities, :actid, @act_types, :id, :name) %>
                <p><label for = "activity_duration">Enter Activity Duration in Minutes: </label></p>
                <%= number_field 'activities', 'duration', :required => true, :step=>'any' %>
                <p><label for = "activity_user">Enter Name of Person who Performed the Action: </label></p>
                <%= text_field 'activities', 'user', :required => true%>
                <br>
                <%= submit_tag 'Log Data', :class => 'submitbutton' %>
            <% end%>
        </div>
        <br>
        <p class="link"><%= link_to 'Back', url_for(:back), :class => 'backitem'%></p>
    </div>
</div>