<div class="activity_controller">
    <h1 class='pagetitle'>Activities</h1>
    <div class="container">
        <h2 class='infotitle'><%= @act.id %>-<%= @actType.name %></h2>
        <div class='activitycontainer'>
            <p>Duration: <%= @act.duration %></p>
            <br>
            <% if @updated %>
                <p>Updated at <%= @act.updated_at %> by <%= @user_name %></p>
            <% else %>
                <p>Registered at <%= @act.created_at %> by <%= @user_name %></p>
            <% end %>
            <br>
            <% if current_user.id == @act.userid %>
                <%= link_to 'Edit Entry', {:action => 'edit', :id => @act.id} %>
                <br>
                <p class="delete">
                    <%= link_to "Delete", 
                        {:action => 'delete', :id => @act.id,}, :method => 'delete',
                        data: {:confirm => "Are you sure you want to delete #{@actType.name}?"},
                        :class => 'delitem' %>
                </p>
                <br>
            <% end %>
            <p class="link"><%= link_to 'Back', url_for(:back), :class => 'backitem'%></p>
        </div>
    </div>
</div>