<div class="activity_controller">
    <h1 class='pagetitle'>Activities</h1>
    <div class="container">
        <h2 class='infotitle'><%= @act.id %>-<%= @act.name %></h2>
        <div class='activitycontainer'>
            <p>Duration: <%= @act.duration %></p>
            <br>
            <p>Registered at <%= @act.created_at %> by <%= @act.user %></p>
            <br>
            <p class="delete">
                <%= link_to "Delete Entry", 
                    {:action => 'delete', :id => @act.id},
                    data: {:confirm => "Are you sure you want to delete #{@act.name}?"},
                    :class => 'delitem' %>
            </p>
            <p class="link"><%= link_to "Back", {:action => 'index'}%></p>
        </div>
    </div>
</div>