    <!--  Friend Test Area  --> 
    
<center>  
<br>
<br>
<br>

<H1>Friends of <%=current_user.full_name%></H1>

<H2>Current Friends:</H2>
<ul>
  <% if current_user.active_friends.empty? and current_user.inverse_friends.empty? %>
    No Friends :(
  <% else %>
    <% for friendship in current_user.active_friends %>
      <li>
        <%= link_to "#{friendship.full_name}", {:controller => "profile", :action => "show", :id => friendship.id}%> | 
        <%= link_to "Remove", friendship_path(friendship), method: :delete %>
      </li>
    <% end %>
  
    <% for friendship in current_user.inverse_friends %>
      <li>
        <%= link_to "#{friendship.full_name}", {:controller => "profile", :action => "show", :id => friendship.id}%> | 
        <%= link_to "Remove", friendship_path(friendship), method: :delete %>
      </li>
    <% end %>
  <% end %>
</ul>


<br>


<h4>Your awaiting friend requests:</h4>

<ul>
    <% if current_user.requested_friendships.empty? %>
      No Pending Friendships
    <% else %>
      <% for requested in current_user.requested_friendships %>
        <li>
          <%= link_to "#{requested.full_name}", {:controller => "profile", :action => "show", :id => requested.id}%> | 
          <%= link_to "Accept",  friendship_path(requested), method: "put" %> | 
          <%= link_to "Decline", friendship_path(requested), method: :delete %>
        </li>
      <% end %>
    <% end %>      
</ul>
<br>
<h4>Your sent friend requests:</h4>

<ul>
    <% if current_user.pending_friends.empty? %>
      No Outgoing Requests
    <% else %>
      <% for pending in current_user.pending_friends %>
        <li>
          <%= link_to "#{pending.full_name}", {:controller => "profile", :action => "show", :id => pending.id}%> |  | 
          <%= link_to "Cancel friend request", friendship_path(pending), method: :delete %>
        </li>
      <% end %>
    <% end %>
</ul>
<br>
<h2>Add a Friend</h2>
<p>You can add a friend by searching for a person in the people search bar at the bottom of the page.</p>
</center> 

    
    <!--  Friend Test Area  --> 