<div class="group_controller">
    <H1 class='pagetitle'>Edit This Group</H1>
    <br>
    <div class="container">
        <div class='groupcontainer'>
            <H2 class='pagetitle'>Edit Group</H2>
            <br>
            <center>
                <table id="groupAdminTable" class="table table-hover table-bordered table-condensed">
                    <thead class="thead-light">
                        <th><a class="UP" onclick="sortGroupTableByColumn(0,'groupAdminTable')" href="javascript:void(0);">Member Name</a></th>
                        <th><a class="UP" onclick="sortGroupTableByColumn(1,'groupAdminTable')" href="javascript:void(0);">Member Score</a></th>
                        <th><a class="UP" onclick="sortGroupTableByColumn(2,'groupAdminTable',false,true)" href="javascript:void(0);">Last Activity</a></th>
                        <th>            </th>
                        <th>            </th>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <% if user.id == current_user.id %>
                                <tr class="curgroup">
                                    <td><%= user.full_name %></td>
                                    <td><%= @scores[user.id] %></td>
                                    <% if user.lastActivity == nil %>
                                        <td id="1e100000"><%= user.full_name %> has not yet participated.</td>
                                    <% else %>
                                        <%= content_tag :td, :id =>user.lastActivity.created_at do %>
                                            <%= user.lastActivity.name %> at <%= user.lastActivity.created_at.in_time_zone("Central Time (US & Canada)").strftime("%H:%M on %a, %m/%d/%y")%>
                                        <% end %>
                                    <% end %>
                                    <td>You are already the group admin</td>
                                    <td></td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= user.full_name %></td>
                                    <td><%= @scores[user.id] %></td>
                                    <% if user.lastActivity == nil %>
                                        <td id="1e100000"><%= user.full_name %> has not yet participated.</td>
                                    <% else %>
                                        <%= content_tag :td, :id =>user.lastActivity.created_at do %>
                                            <%= user.lastActivity.name %> at <%= user.lastActivity.created_at.in_time_zone("Central Time (US & Canada)").strftime("%H:%M on %a, %m/%d/%y")%>
                                        <% end %>
                                    <% end %>
                                    <td><%= link_to (image_tag('button_make_group_admin.png')), 
                                        {:action => 'makeadmin', :id => @group.id, :uid => user.id}, :method => 'patch',
                                        data: {:confirm => "Are you sure you want to make #{user.full_name} the admin of #{@group.name}?"},
                                        :class => 'delitem' %></td>
                                    <td><%= link_to (image_tag('button_kick.png')), 
                                        {:action => 'kick', :id => @group.id, :uid => user.id}, :method => 'patch',
                                        data: {:confirm => "Are you sure you want to kick #{user.full_name} from #{@group.name}? This will remove you as group admin."},
                                        :class => 'delitem' %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </center>
            <br>
            <div id="messageContainer">
                <H4 class="justify-content-center">Messages for <%= @group.name %></H4>
                <div class="row">
                        <table id="messageTable" class="table table-striped table-hover table-borderless table-sm">
                            <tbody>
                                <% @messages.each do |msg|%>
                                    <tr>
                                        <% if msg.userid == current_user.id %>
                                            <td class="username">You:</td>
                                        <% else %>
                                            <td class="username"><%= msg.userName%></td>
                                        <% end %>
                                        <td class="message col-sm-10 text-sm-left"><%= msg.message %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="messageInput">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-light" onclick="submitMessage()">Submit Message</button>
                </div>
            </div>
            <br>
            <br>
            <br>
            <%= form_for @group, :url => {:action => 'update', :id => @group.id} do |g| %>
                <p>Group Name: <%= g.text_field 'name', :value => @group.name, :maxlength => @maximumNameLength, :minlength => @minimumNameLength, :size => 50, :required => true %></p>
                <p>Group Description: <%= g.text_field 'description', :value => @group.description, :maxlength => @maximumDescriptionLength, :minlength => @minimumDescriptionLength, :size => 50, :required => true %></p>
                <p>Group Password (Leave blank if you do not wish to change): <%= g.password_field 'password', :size => 50%></p>
                <br>
                <%= image_submit_tag "button_save_changes.png", :class => 'submitbutton' %>
            <% end %>
            <br>
            <p class='delete'>
                <%= link_to "Delete this group.", 
                        {:action => 'delete', :id => @group.id}, :method => 'delete',
                        data: {:confirm => "Are you sure you want to delete #{@group.name}?"},
                        :class => 'delitem' %>
            </p>
        </div>
    </div>
</div>