<div class="group_controller">
    <H1 class='pagetitle'>Groups</H1>
    <br>
    <div class="container">
        <div class='groupcontainer col-sm-12'>
            <H2 class='pagetitle'>Available Groups</H2>
            <% if @groups.blank? %>
                <H3>There are currently no groups.</H3>
            <% else %>
                <center>
                    <input type="text" id="groupSearchInput" class="searchBar" onkeyup="groupSearch()" placeholder="Search for a group..." title="Search here">
                    <select id='groupSearchSelect' class='selectBar' onchange="groupSearch()">
                        <option>Group Name</option>
                        <option>Group Description</option>
                        <option>Number of Members</option>
                    </select>
                </center>
                <table id="grouptable" class="table table-hover table-bordered table-condensed">
                    <thead class="thead-light">
                        <tr>
                            <th><a class="UP" onclick="sortGroupTableByColumn(0,'grouptable',true)" href="javascript:void(0);">Group Name</a></th>
                            <th><a class="UP" onclick="sortGroupTableByColumn(1,'grouptable')" href="javascript:void(0);">Group Description</a></th>
                            <th><a class="UP" onclick="sortGroupTableByColumn(2,'grouptable')" href="javascript:void(0);">Number of Members</a></th>
                            <th>          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @groups.each do |group| %>
                            <% if group.id == current_user.groupid %>
                                <tr class="curgroup">
                                    <% if group.adminid == current_user.id %>
                                        <td class="name"><%= link_to group.name, {:action => 'edit', :id => group.id} %></td>
                                        <td><%= group.description %></td>
                                        <td><%= group.numMembers %></td>
                                        <td>
                                            <%= button_to "Delete", {:controller => 'group', :action =>'delete', :id => group.id}, :method => 'delete', :data => {:confirm => "Are you sure you want to delete #{group.name}?"}, :type => 'button', :class => 'btn btn-lg btn-danger' %>
                                        </td>
                                    <% else %>
                                        <td class="name"><%= link_to group.name, {:action => 'view', :id => group.id} %></td>
                                        <td><%= group.description %></td>
                                        <td><%= group.numMembers %></td>
                                        <td>
                                            <%= button_to "Leave", {:controller => 'group', :action =>'leave', :id => group.id}, :method => 'patch', :data => {:confirm => "Are you sure you want to leave #{group.name}?"}, :type => 'button', :class => 'btn btn-lg btn-danger' %>
                                        </td>
                                    <% end %>
                                </tr>
                            <% else %>
                                <tr>
                                    <td class="name"><%= link_to group.name, {:action => 'show', :id => group.id} %></td>
                                    <td><%= group.description %></td>
                                    <td><%= group.numMembers %></td>
                                    <td>
                                        <% if current_user.isAdmin %>
                                            <%= button_tag "Join", :class =>"btn btn-lg btn-primary", :type => 'button', :data => {:toggle => "modal", :target => "#joinModal#{group.id}"}, :disabled => true%>
                                        <% else %>
                                            <%= button_tag "Join", :class =>"btn btn-lg btn-primary", :type => 'button', :data => {:toggle => "modal", :target => "#joinModal#{group.id}"} %>
                                        <% end %>
                                    </td>
                                </tr>
                                <%= content_tag :div, :class => "modal fade", :id => "joinModal#{group.id}" do %>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Join Group: <%= group.name %></h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <H3><%= group.description %></H3>
                                                <%= form_for group, :url => {:action => 'join', :id => group.id} do |g| %>
                                                    <p>Enter Group Password to Join: <%= g.password_field 'password', :id => "group_password_#{group.id}"%></p>
                                                    <br>
                                                    <button type="submit" class='btn btn-lg btn-primary'>Join Group</button>
                                                <% end %>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <%end%>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            <br>
            <ul id="pageLinks" class="pagination justify-content-center">
              
            </ul>
            <br>

        </div>
    </div>
</div>
<div class="gradient-buttons text-center">
    <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#newGroupModal">Create New Group</button>
</div>


<div id="newGroupModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
    
          <div class="modal-header">
            <h4 class="modal-title">Create New Group</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <div class="modal-body">
                <div class='container'>
                    <div class='groupcontainer'>
                        <%= form_tag :action => 'create' do %>
                            <div class='form-group'>
                                <p><label for = 'group_name'>Enter Group Name: </label></p>
                                <em>(Must be between <%= @minimumNameLength %> and <%= @maximumNameLength %> characters)</em><br>
                                <%= text_field 'group', 'name', :maxlength => @maximumNameLength, :minlength => @minimumNameLength, :size => 50, :onkeyup => 'verifyNewGroup()', :required => true, :class => "form-control" %>
                            </div>
                            <div class='form-group'>
                                <p id='groupDescriptionAlert' class='AlertMessage'>Group description cannot be the same as the group name.</p>
                                <p><label for = 'group_description'>Enter Group Description: </label></p>
                                <em>(Must be between <%= @minimumDescriptionLength %> and <%= @maximumDescriptionLength %> characters)</em><br>
                                <%= text_field 'group', 'description', :maxlength => @maximumDescriptionLength, :minlength => @minimumDescriptionLength, :size => 50, :onkeyup => 'verifyNewGroup()', :required => true, :class => "form-control" %>
                            </div>
                            <div class='form-group'>
                                <p><label for = 'group_password'>Enter Group Password</label></p>
                                <%= password_field 'group', 'password', :size =>  @smallerMaximumLength, :onkeyup => 'verifyNewGroup()', :required => true, :class => "form-control" %>
                            </div>
                            <div class='form-group'>
                                <p id='groupPasswordAlert' class='AlertMessage'>Passwords do not match</p>
                                <p><label for = 'group_password_confirmation'>Confirm Password</label></p>
                                <%= password_field 'group', 'password_confirmation', :size => @smallerMaximumLength, :onkeyup => 'verifyNewGroup()', :required => true, :class => "form-control" %>
                            </div>
                            <br>
                            <div class="gradient-buttons">
                                <button type="submit" class='btn center-block btn-lg btn-primary' id="group_submit_button" disabled>Create New Group</button>
                            </div>
                        
                        <% end %>
                    </div>
                </div>
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

    </div>
  </div>
</div>