<div class="group_controller">
    <H1 class='pagetitle'>Groups</H1>
    <br>
    <div class="container">
        <div class='groupcontainer col-sm-12'>
            <H2 class='pagetitle'>Available Groups</H2>
            <% if @groups.blank? %>
                <H3>There are currently no groups.</H3>
            <% else %>
                <center>
                    <input type="text" id="groupSearchInput" class="searchBar" onkeyup="groupSearch()" placeholder="Search for a group..." title="Search here">
                    <select id='groupSearchSelect' class='selectBar' onchange="groupSearch()">
                        <option>Group Name</option>
                        <option>Group Description</option>
                        <option>Number of Members</option>
                    </select>
                </center>
                <table id="grouptable" class='table table-hover table-bordered table-dark table-responsive table-condensed'>
                    <thead class="thead-dark">
                        <tr>
                            <th><a class="UP" onclick="sortGroupTableByColumn(0,'grouptable',true)" href="javascript:void(0);">Group Name</a></th>
                            <th><a class="UP" onclick="sortGroupTableByColumn(1,'grouptable')" href="javascript:void(0);">Group Description</a></th>
                            <th><a class="UP" onclick="sortGroupTableByColumn(2,'grouptable')" href="javascript:void(0);">Number of Members</a></th>
                            <th>          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @groups.each do |group| %>
                            <% if group.id == current_user.groupid %>
                                <tr class="curgroup">
                                    <% if group.adminid == current_user.id %>
                                        <td class="name"><%= link_to group.name, {:action => 'edit', :id => group.id} %></td>
                                        <td><%= group.description %></td>
                                        <td><%= group.numMembers %></td>
                                        <td>
                                            <%= link_to (image_tag('button_delete.png')), 
                                                {:action => 'delete', :id => group.id,}, :method => 'delete',
                                                data: {:confirm => "Are you sure you want to delete #{group.name}?"},
                                                :class => 'delitem' %>
                                        </td>
                                    <% else %>
                                        <td class="name"><%= link_to group.name, {:action => 'view', :id => group.id} %></td>
                                        <td><%= group.description %></td>
                                        <td><%= group.numMembers %></td>
                                        <td>
                                            <%= link_to (image_tag('button_leave.png')), {:action => 'leave'}, :method => 'patch',
                                                data: {:confirm => "Are you sure you want to leave #{group.name}?"}%>
                                        </td>
                                    <% end %>
                                </tr>
                            <% else %>
                                <tr>
                                    <td class="name"><%= link_to group.name, {:action => 'show', :id => group.id} %></td>
                                    <td><%= group.description %></td>
                                    <td><%= group.numMembers %></td>
                                    <td><%= link_to (image_tag('button_join.png')), {:action => 'show', :id => group.id} %></td>
                                </tr>
                            <%end%>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
            <p id="pageLinks"></p>
            <br>
            <%= render "shared/links" %>
        </div>
    </div>
</div>