<div class="group_controller">
    <H1 class='pagetitle'>Create a New Group</H1>
    <br>
    <div class="container">
        <div class='groupcontainer'>
            <%= form_tag :action => 'create' do %>
            <div class="groupelement">
                <p><label for = "group_name">Enter Group Name: </label></p>
                <em>(Must be between <%= @minimumNameLength %> and <%= @maximumNameLength %> characters)</em><br>
                <%= text_field 'group', 'name', :maxlength => @maximumNameLength, :minlength => @minimumNameLength, :size => 50, :required => true %>
            </div>
            <div class="groupelement">
                <p><label for = "group_description">Enter Group Description: </label></p>
                <em>(Must be between <%= @minimumDescriptionLength %> and <%= @maximumDescriptionLength %> characters)</em><br>
                <%= text_field 'group', 'description', :maxlength => @maximumDescriptionLength, :minlength => @minimumDescriptionLength, :size => 50, :required => true %>
            </div>
            <div class="groupelement">
                <p><label for = "group_description">Enter Group Password</label></p>
                <%= password_field 'group', 'password', :size =>  @smallerMaximumLength %>
            </div>
            <br>
            <%= image_submit_tag "button_create.png", :class => 'submitbutton'%>
            <% end %>
            <br>
            <!-- Added a back button png: Jake -->
            <p class="link"><%= link_to (image_tag('button_back.png')), url_for(:back), :class => 'backitem'%></p>
        </div>
    </div>
</div>