<div class="group_controller">
    <H1 class='pagetitle'>View This Group</H1>
    <br>
    <div class="container">
        <div class='groupcontainer'>
            <H2 class='pagetitle'>View Group</H2>
            <br>
            <center>
                <table id="groupmembertable">
                    <thead>
                        <th><a class="UP" onclick="sortGroupTableByColumn(0,'groupmembertable')" href="javascript:void(0);">Member Name</a></th>
                        <th><a class="UP" onclick="sortGroupTableByColumn(1,'groupmembertable')" href="javascript:void(0);">Member Score</a></th>
                        <th><a class="UP" onclick="sortGroupTableByColumn(2,'groupmembertable',false,true)" href="javascript:void(0);">Last Activity</a></th>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <% if user.id == current_user.id %>
                                <tr class="curgroup">
                                    <td><%= user.full_name %></td>
                                    <% if @scores[user.id]==nil %>
                                        <td>Has done nothing</td>
                                    <% elsif @scores[user.id]==0%>
                                        <td>Has done nothing</td>
                                    <% else %>
                                        <td><%= user.score.round(4) %></td>
                                    <% end %>
                                    <td><%= user.lastActivity.name %> at <%= user.lastActivity.created_at.in_time_zone("Central Time (US & Canada)").strftime("%H:%M on %a, %m/%d/%y")%></td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= user.full_name %></td>
                                    <% if @scores[user.id]==nil %>
                                        <td>Has done nothing</td>
                                    <% elsif @scores[user.id]==0%>
                                        <td>Has done nothing</td>
                                    <% else %>
                                        <td><%= user.score.round(4) %></td>
                                    <% end %>
                                    <%= content_tag :td, :id =>user.lastActivity.created_at do %>
                                        <%= user.lastActivity.name %> at <%= user.lastActivity.created_at.in_time_zone("Central Time (US & Canada)").strftime("%H:%M on %a, %m/%d/%y")%>
                                    <% end %>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </center>
            <br>
            <p class="link"><%= link_to 'Back', url_for(:back), :class => 'backitem'%></p>
        </div>
    </div>
</div>