<h1><br></h1>
<h1><br></h1>
<h1><br></h1>
<center><h1>Welcome to your profile: <%= @user.first_name %> <%= @user.last_name %>  </h1></center>

    <% if @user.avatar? %>
        <center><%= image_tag @user.avatar.url, class: "avatar-show" %></center>
    <% end %>
<center><h1>Email: <%= @user.email %></h1></center>
 <center><%= link_to(image_tag('button_edit.png'), edit_user_path(@user)) %></center>

