<div class="userProfileContainer justify-content-center text-center data-center" style="padding-top: 35px;">
    <div class="row">
        <div class="col-md-3">&nbsp</div>
        <div class="col-md-6">
            <div class="card bg-info text-center justify-content-center">
                <div class="card-header bg-info text-center">
                    <H2>User Profile for <%=@user.full_name%></H2>
                </div>
            <% unless @user.id == current_user.id %>
                <%= link_to "Send This Person A Message", new_conversation_path(:user => @user.id) %>
                <!--  add friend button  --> 

                <!--  add friend button  -->
            <% else %>
                <%= link_to "Check your messages", :controller => :conversations, :action => :index %>
            <% end %>
    <!--  Friend Test Area  --> 
    
    
<h2>Friends</h2>
<ul>
  <% @users = User.all %>
  <% @users.each do |user| %>
      <% unless user.id == current_user.id %>
    <li>
        
			<%= user.full_name %> |
			<%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
		
    </li>
      <% end %>
    
  <% end %>
</ul>
<ul>
    <h2>Friend Requests</h2>
    <% current_user.requested_friendships.each do |request| %>
    <li>
      <%= request.full_name %>
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put" %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete %>
    </li>
  <% end %>
</ul>


    
    
    <!--  Friend Test Area  --> 
            <div class="card-body">
                <div class="text-center">
                    <h4>Email: <%= @user.email %></h4>
                </div>
                <br>
                <div class="text-center">
                    <% if @user.groupName != nil%>
                        <% if @user.id == current_user.id %>
                            <h4> You are in group: <%= @user.groupName %></h4>
                        <% else %>
                            <h4> <%= @user.full_name %> is in group: <%= @user.groupName %></h4>
                        <% end %>
                    <% else %> 
                        <% if @user.id == current_user.id %>
                            <h4> You are not currently in a group.</h4>
                        <% else %>
                            <h4> User is not currently in a group.</h4>
                        <% end %>
                    <% end %>
                </div>
                <br>
                <% unless @acts.blank? %>
                    <%# THIS SHOWS USERS FOUR MOST RECENT ACTIVITIES %>
                    <div class="container justify-content-center block-center data-center text-center">
                        <h4><%= @user.first_name %>'s Most Recent Activities: </h4>
                        <table id="activitytable" class="table table-hover table-bordered table-condensed table-sm text-center">
                            <thead class="thead-light">
                              <tr>
                                <th><p class="link"><a class="UP" onclick="sortActivityTableByColumn(0,true)" href="javascript:void(0);">Activity Type</a></p></th>
                                <th><p class="link"><a class="UP" onclick="sortActivityTableByColumn(1,false,true)" href=javascript:void(0);>Duration</a></p></th>
                                <th><p class="link"><a class="UP" onclick="sortActivityTableByColumn(2)" href=javascript:void(0);>Performer</a></p></th>
                                <th><p class="link"><a class="UP" onclick="sortActivityTableByTime()" href=javascript:void(0);>Time</a></p></th>
                                <th><p class="link"><a onclick="sortActivityTableByTime()" href=javascript:void(0);>Date</a></p></th>
                              </tr>
                            </thead>
                        
                            <tbody>
                                <% @acts.each do |act| %>
                                    <%= content_tag :tr, :id => "act#{act.id}" do %>
                                    
                                        <td><p class="name">
                                            <%= content_tag :a, :name => "#{act.name}", :href => "javascript:void(0)", :onclick => "getActivity(#{act.id})", :data => {:toggle => "modal", :target => "#viewActivityModal"} do %>
                                                <%= act.name %>
                                            <% end %>
                                            </p></td>
                                        <td>
                                            <%= content_tag :p, :class => "duration", :name => act.duration do %>
                                                <%= act.niceDuration %>
                                            <% end %>
                                        </td>
                                        <td><p class="user"><%= act.userName %></p></td>
                                        <td><%= content_tag :p, :id => act.created_at, :class => "timestamp" do %> 
                                                <%= act.created_at.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %> 
                                            <% end %>
                                        </p></td>
                                        <td><p class="timestamp"><%= act.created_at.in_time_zone("Central Time (US & Canada)").strftime("%a, %m/%d/%y") %></p></td>
                                    <% end %>
                                <% end %>
                            </tbody>
                            </table>
                        <br>
                    </div>
                <% end %>
                <div class="card-footer">
                        <% if @user.id == current_user.id %>
                            <div class="gradient-buttons data-center text-center justify-content-center">
                                <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#editProfileModal">
                                    Edit Profile
                                </button>
                            </div>
                            <div class="modal fade" id="editProfileModal">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-info justify-content-center data-center text-center">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Your Profile</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <%= label :user, :first_name %>
                                                    <%= text_field :user, :first_name, :class => "form-control", :value => current_user.first_name %>
                                                </div>
                                                <div class="form-group">
                                                    <%= label :user, :last_name %>
                                                    <%= text_field :user, :last_name, :class => "form-control", :value => current_user.last_name %>
                                                </div>
                                                <div class="form-group gradient-buttons">
                                                    <button type="button" onclick="updateProfile()" class="btn btn-primary btn-large" data-dismiss="modal">Submit</button>
                                                </div>
                                                <%= hidden_field :user, :userid, :value => current_user.id %>
                                            </form>
                                        </div>
                                        <div class="modal-footer gradient-buttons">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                        <%= hidden_field :user, :userid, :value => current_user.id %>
                                    </form>
                                </div>
                        </div>
                    <% end %>
                </div>
            </div>
            </div>
        <div class="col-md-3">&nbsp</div>
    </div>
</div>

