<!DOCTYPE html>

<html>
<%= favicon_link_tag asset_path('couplerun.png'), :rel => 'icon', :type =>  'image/png' %>
<head>
  <title>Doing Together</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  
  <%= csrf_meta_tags %>
</head>
<% if controller.controller_name == "activity" %>
  <body onload="automateActivityAJAX()">
<% elsif controller.controller_name == "group" and controller.action_name == "index" %>
  <body onload="groupIndexPageOnLoad()">
<% elsif controller.controller_name == "group" and (controller.action_name == "view" or controller.action_name == "edit") %>
  <body onload="registerGroupMessagingActivity()">
<% else %>
  <body>
<% end %>
<div class="page-header">
    <center><H2><%= link_to (image_tag('doing_together.png')), '/application/index', :class => 'title'%></H2></center>
        
      <div class="col-md-6"><H4>A place to do things <i>together</i>.</H2></div>
      <% if user_signed_in? %>
        <div class="col-md-6 justify-content-right"><H4>
           <!-- Creates the out button:Added by Jake -->
          <%= link_to(image_tag('button_sign_out.png'), destroy_user_session_path, method: :delete) %>        
        </H4></div>
      <% else %>
        <div class="col-md-6 justify-content-right"><H4>
          <!-- Creates the Sign In and Sign Up buttons:Added by Jake -->
          <%= link_to(image_tag('button_sign_in.png'), new_user_session_path) %> or <%= link_to(image_tag('button_sign_up.png'), new_user_registration_path) %>
        </H4></div>
      <% end %>
  </div>
  <!-- This adds the fgroup png:Added by Jake -->
  <center><h1><%= image_tag "fgroup.png" %></h1></center>
  <!-- This adds the fgroup png:Added by Jake -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
