<!DOCTYPE html>
<html>
<%= favicon_link_tag asset_path('couplerun.png'), :rel => 'icon', :type =>  'image/png' %>
<head>
  <title>Doing Together</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <center><H2><%= link_to 'Doing Together', '/activity/index', :class => 'title'%></H2></center>
    <div id="headercontainer">
        
        <div class="headerchild"><H4 class="lalign">A place to do things <i>together</i>.</H2></div>
        <% if user_signed_in? %>
          <div class="headerchild"><H4 class="ralign">
             <!-- Creates the out button:Added by Jake -->
            <%= link_to(image_tag('button_sign_out.png'), destroy_user_session_path, method: :delete) %>        
          </H4></div>
        <% else %>
          <div class="headerchild"><H4 class="ralign">
            <!-- Creates the Sign In and Sign Up buttons:Added by Jake -->
            <%= link_to(image_tag('button_sign_in.png'), new_user_session_path) %> or <%= link_to(image_tag('button_sign_up.png'), new_user_registration_path) %>
          </H4></div>
        <% end %>
    </div>
  </header>
  <!-- This adds the fgroup png:Added by Jake -->
  <center><h1><%= image_tag "fgroup.png" %></h1></center>
  <!-- This adds the fgroup png:Added by Jake -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
