<!DOCTYPE html>

<html>
<%= favicon_link_tag asset_path('couplerun.png'), :rel => 'icon', :type =>  'image/png' %>
<head>
  <title>Doing Together</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <%= csrf_meta_tags %>
  
  <script type='text/javascript'>
    var hasMessages = false;
    <% if user_signed_in? %>
      hasMessages = <%= current_user.hasInvite %>;
    <% end %>
    $(document).ready(function() {
      if (hasMessages) {
        checkForInvites(hasMessages);
      }
    });
  </script>
  
</head>
<% if controller.controller_name == "activity" %>
  <body onload="automateActivityAJAX()" class="bg-secondary">
<% elsif controller.controller_name == "group" and controller.action_name == "index" %>
  <body onload="groupIndexPageOnLoad()" class="bg-secondary">
<% elsif controller.controller_name == "group" and (controller.action_name == "view" or controller.action_name == "edit") %>
  <body onload="registerGroupMessagingActivity()" class="bg-secondary">
<% else %>
  <body class="bg-secondary">
<% end %>
<% if controller.controller_name == "application" or controller.controller_name == "" %>
  <% @sty = "margin-bottom: 0px;" %>
<% else %>
  <% @sty = "" %>
<% end %>
<%= content_tag :nav, :class => "navbar bg-info navbar-expand-md fixed-top", :style => @sty do %>
  <a class="navbar-brand" >
    <%= link_to (image_tag('doing_together.png')), '/application/index', :class => 'title', :alt => "logo"%>
  </a>
  <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <% @navLinkClass = "nav-link" %>
    <% else %>
      <% @navLinkClass = "nav-link disabled" %>
    <% end %>
    <% if controller.controller_name == "activity" %>
      <li class="nav-item active">
        <%= content_tag :a, :class => @navLinkClass, :href => "/activity/index" do %>
          Activity Log
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= content_tag :a, :class => @navLinkClass, :href => "/activity/index" do %>
          Activity Log
        <% end %>
      </li>
    <% end %>
    <% if controller.controller_name == "activity_type" %>
      <li class="nav-item active">
        <%= content_tag :a, :class => @navLinkClass, :href => "/activity_type/index" do %>
          Activity Types
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= content_tag :a, :class => @navLinkClass, :href => "/activity_type/index" do %>
          Activity Types
        <% end %>
      </li>
    <% end %>
    <% if controller.controller_name == "group" %>
      <li class="nav-item active">
        <%= content_tag :a, :class => @navLinkClass, :href => "/group/index" do %>
          Groups
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= content_tag :a, :class => @navLinkClass, :href => "/group/index" do %>
          Groups
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-link">
        <%= link_to "Messages (#{current_user.mailbox.conversations.unread(current_user).count})" , {:controller => "conversations", :action => "index"}, :class => ""  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" data-target="#userMenu">
          User Menu
        </a>
      </li>
      <div id="userMenu" class="dropdown-menu bg-info" style="right: 0; left: auto;">
        <%= link_to "View Profile", {:controller => "profile", :action => "show", :id => current_user.id}, :class => "dropdown-item" %>
        <% unless current_user.groupid==nil %>
          <%= link_to "View #{current_user.groupName}", {:controller => "group", :action => "view", :id => current_user.groupid}, :class => "dropdown-item" %>
        <% end %>
        
        <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete', :class => "dropdown-item" %>
        
        
      </div>
    </ul>
  <% else %>
    <div class="gradient-buttons">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= button_to "Sign In", new_user_session_path, :method => 'get', :type => 'button', :class => 'btn btn-md btn-primary' %>
        </li>
        <li class="nav-item">
          <%= button_to "Sign Up", new_user_registration_path, :method => 'get', :type => 'button', :class => 'btn btn-md btn-primary' %>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
  <!-- This adds the fgroup png:Added by Jake -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
<% if user_signed_in? %>
  <br>
  <%= render 'shared/links' %>
<% end %>
</body>
</html>
